.banner-simple {
    background-color: $secondary-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;

    &-primary {
        background-color: $primary-color;
    }

    @include from(l) {
        padding: 4rem 14rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center; // Centra el contenido
        gap: 2rem; // Espacio entre los elementos

        @include from(l) {
            gap: 2rem; // Aumenta el espacio en pantallas más grandes
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__description {
        text-align: center;
        line-height: 1.5;
    }
}