.small {
    font-size: var(--small-font-size);
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.white-color {
    color: $white-color;
}

.bg-white {
    background-color: $white-color;
}

.border-color {
    color: $border-color;
}

.bg-border {
    background-color: $border-color;
}

.black-color {
    color: $black-color;
}

.bg-black {
    background-color: $black-color;
}

.primary-color {
    color: $primary-color;
}

.bg-primary {
    background-color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.tertiary-color {
    color: $tertiary-color;
}

.bg-tertiary {
    background-color: $tertiary-color;
}

.quaternary-color {
    color: $quaternary-color;
}

.bg-quaternary {
    background-color: $quaternary-color;
}

.light-color {
    color: $light-color;
}

.bg-light {
    background-color: $light-color;
}

.soft-color {
    color: $soft-color;
}

.bg-soft {
    background-color: $soft-color;
}

.gray-color {
    color: $gray-color;
}

.bg-gray {
    background-color: $gray-color;
}

.red-color {
    color: $red-color;
}

.bg-red {
    background-color: $red-color;
}